USE [master]
GO
/****** Object:  Database [QuanLyThuVien]    Script Date: 16/1/2021 10:54:06 PM ******/
CREATE DATABASE [QuanLyThuVien]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyThuVien', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QuanLyThuVien.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyThuVien_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QuanLyThuVien_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyThuVien].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyThuVien]
GO
/****** Object:  Table [dbo].[CTPM]    Script Date: 16/1/2021 10:54:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPM](
	[MASACH] [varchar](10) NOT NULL,
	[MAPHIEUMUON] [varchar](10) NOT NULL,
	[SOLUONG] [char](5) NULL,
	[TINHTRANG] [nvarchar](10) NULL,
	[HANTRA] [datetime] NULL,
	[NGAYTRA] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MASACH] ASC,
	[MAPHIEUMUON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DAUSACH]    Script Date: 16/1/2021 10:54:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DAUSACH](
	[MASACH] [varchar](10) NOT NULL,
	[TENSACH] [nvarchar](30) NULL,
	[NAMXUATBAN] [char](5) NULL,
	[MATHELOAI] [varchar](10) NOT NULL,
	[MANXB] [varchar](10) NOT NULL,
	[MATACGIA] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MASACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOCGIA]    Script Date: 16/1/2021 10:54:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCGIA](
	[MADOCGIA] [varchar](10) NOT NULL,
	[TENDOCGIA] [nvarchar](30) NULL,
	[DIACHI] [nvarchar](30) NULL,
	[SDTDOCGIA] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MADOCGIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 16/1/2021 10:54:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [varchar](10) NOT NULL,
	[HOTENNV] [nvarchar](30) NULL,
	[GIOITINHNV] [nvarchar](30) NULL,
	[NGAYSINHNV] [datetime] NULL,
	[DIACHINV] [nvarchar](40) NULL,
	[DIENTHOAINV] [char](10) NULL,
	[EMAILNV] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAXUATBAN]    Script Date: 16/1/2021 10:54:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAXUATBAN](
	[MANXB] [varchar](10) NOT NULL,
	[TENNXB] [nvarchar](30) NULL,
	[DIACHINXB] [nvarchar](40) NULL,
	[DIENTHOAIXB] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANXB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUMUONTRA]    Script Date: 16/1/2021 10:54:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUMUONTRA](
	[MAPHIEUMUON] [varchar](10) NOT NULL,
	[NGAYLAP] [datetime] NULL,
	[MANV] [varchar](10) NOT NULL,
	[MATHE] [varchar](10) NOT NULL,
	[MADOCGIA] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHIEUMUON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TACGIA]    Script Date: 16/1/2021 10:54:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TACGIA](
	[MATACGIA] [varchar](10) NOT NULL,
	[TENTACGIA] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MATACGIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 16/1/2021 10:54:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[TENTAIKHOAN] [varchar](20) NOT NULL,
	[MATKHAU] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[TENTAIKHOAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THEDOCGIA]    Script Date: 16/1/2021 10:54:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THEDOCGIA](
	[MANV] [varchar](10) NOT NULL,
	[MATHE] [varchar](10) NOT NULL,
	[NGAYLAP] [datetime] NULL,
	[NGAYHETHAN] [datetime] NULL,
	[MADOCGIA] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MATHE] ASC,
	[MADOCGIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THELOAI]    Script Date: 16/1/2021 10:54:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THELOAI](
	[MATHELOAI] [varchar](10) NOT NULL,
	[TENTHELOAI] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MATHELOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CTPM] ([MASACH], [MAPHIEUMUON], [SOLUONG], [TINHTRANG], [HANTRA], [NGAYTRA]) VALUES (N'DS1', N'1213', N'2    ', N'Mới', CAST(N'2021-01-13T23:06:23.023' AS DateTime), CAST(N'2021-01-13T22:53:06.197' AS DateTime))
INSERT [dbo].[CTPM] ([MASACH], [MAPHIEUMUON], [SOLUONG], [TINHTRANG], [HANTRA], [NGAYTRA]) VALUES (N'DS1', N'2', N'123  ', N'Mới', CAST(N'2021-06-04T20:56:50.000' AS DateTime), CAST(N'2021-01-13T23:04:43.323' AS DateTime))
INSERT [dbo].[CTPM] ([MASACH], [MAPHIEUMUON], [SOLUONG], [TINHTRANG], [HANTRA], [NGAYTRA]) VALUES (N'DS1', N'6787', N'88   ', N'Cũ', CAST(N'2021-04-01T20:54:21.000' AS DateTime), CAST(N'2021-04-01T20:54:21.000' AS DateTime))
GO
INSERT [dbo].[DAUSACH] ([MASACH], [TENSACH], [NAMXUATBAN], [MATHELOAI], [MANXB], [MATACGIA]) VALUES (N'DS1', N'1', N'2    ', N'Tl1', N'NXB1', N'TG1')
GO
INSERT [dbo].[DOCGIA] ([MADOCGIA], [TENDOCGIA], [DIACHI], [SDTDOCGIA]) VALUES (N'DG1', N'Nam', N'213', N'213213    ')
INSERT [dbo].[DOCGIA] ([MADOCGIA], [TENDOCGIA], [DIACHI], [SDTDOCGIA]) VALUES (N'DG2', N'linh', N'12321', N'3213      ')
GO
INSERT [dbo].[NHANVIEN] ([MANV], [HOTENNV], [GIOITINHNV], [NGAYSINHNV], [DIACHINV], [DIENTHOAINV], [EMAILNV]) VALUES (N'NV1', N'123', N'Nam', CAST(N'2021-01-09T00:00:00.000' AS DateTime), N'213', N'21321     ', N'213213')
GO
INSERT [dbo].[NHAXUATBAN] ([MANXB], [TENNXB], [DIACHINXB], [DIENTHOAIXB]) VALUES (N'NXB1', N'1', N'1', N'1         ')
GO
INSERT [dbo].[PHIEUMUONTRA] ([MAPHIEUMUON], [NGAYLAP], [MANV], [MATHE], [MADOCGIA]) VALUES (N'1', CAST(N'2021-01-14T20:53:00.643' AS DateTime), N'NV1', N'21321321', N'DG2')
INSERT [dbo].[PHIEUMUONTRA] ([MAPHIEUMUON], [NGAYLAP], [MANV], [MATHE], [MADOCGIA]) VALUES (N'1213', CAST(N'2021-01-13T22:06:57.093' AS DateTime), N'NV1', N'123213213', N'DG1')
INSERT [dbo].[PHIEUMUONTRA] ([MAPHIEUMUON], [NGAYLAP], [MANV], [MATHE], [MADOCGIA]) VALUES (N'2', CAST(N'2021-01-13T22:37:02.687' AS DateTime), N'NV1', N'123213213', N'DG1')
GO
INSERT [dbo].[TACGIA] ([MATACGIA], [TENTACGIA]) VALUES (N'TG1', N'1')
INSERT [dbo].[TACGIA] ([MATACGIA], [TENTACGIA]) VALUES (N'TG2', N'Nam')
GO
INSERT [dbo].[TAIKHOAN] ([TENTAIKHOAN], [MATKHAU]) VALUES (N'123', N'123')
GO
INSERT [dbo].[THEDOCGIA] ([MANV], [MATHE], [NGAYLAP], [NGAYHETHAN], [MADOCGIA]) VALUES (N'NV1', N'1232132123', CAST(N'2021-01-13T22:39:31.000' AS DateTime), CAST(N'2021-01-13T22:39:31.000' AS DateTime), N'DG1')
INSERT [dbo].[THEDOCGIA] ([MANV], [MATHE], [NGAYLAP], [NGAYHETHAN], [MADOCGIA]) VALUES (N'NV1', N'123213213', CAST(N'2021-01-13T22:05:36.000' AS DateTime), CAST(N'2021-01-13T22:05:36.000' AS DateTime), N'DG1')
INSERT [dbo].[THEDOCGIA] ([MANV], [MATHE], [NGAYLAP], [NGAYHETHAN], [MADOCGIA]) VALUES (N'NV1', N'21321321', CAST(N'2021-01-13T22:39:41.000' AS DateTime), CAST(N'2021-01-13T22:39:41.000' AS DateTime), N'DG2')
GO
INSERT [dbo].[THELOAI] ([MATHELOAI], [TENTHELOAI]) VALUES (N'Tl1', N'1')
GO
ALTER TABLE [dbo].[CTPM]  WITH CHECK ADD FOREIGN KEY([MAPHIEUMUON])
REFERENCES [dbo].[PHIEUMUONTRA] ([MAPHIEUMUON])
GO
ALTER TABLE [dbo].[CTPM]  WITH CHECK ADD FOREIGN KEY([MASACH])
REFERENCES [dbo].[DAUSACH] ([MASACH])
GO
ALTER TABLE [dbo].[DAUSACH]  WITH CHECK ADD FOREIGN KEY([MANXB])
REFERENCES [dbo].[NHAXUATBAN] ([MANXB])
GO
ALTER TABLE [dbo].[DAUSACH]  WITH CHECK ADD FOREIGN KEY([MATACGIA])
REFERENCES [dbo].[TACGIA] ([MATACGIA])
GO
ALTER TABLE [dbo].[DAUSACH]  WITH CHECK ADD FOREIGN KEY([MATHELOAI])
REFERENCES [dbo].[THELOAI] ([MATHELOAI])
GO
ALTER TABLE [dbo].[PHIEUMUONTRA]  WITH CHECK ADD FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUMUONTRA]  WITH CHECK ADD FOREIGN KEY([MATHE], [MADOCGIA])
REFERENCES [dbo].[THEDOCGIA] ([MATHE], [MADOCGIA])
GO
ALTER TABLE [dbo].[THEDOCGIA]  WITH CHECK ADD FOREIGN KEY([MADOCGIA])
REFERENCES [dbo].[DOCGIA] ([MADOCGIA])
GO
ALTER TABLE [dbo].[THEDOCGIA]  WITH CHECK ADD FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
USE [master]
GO
