USE [QuanLyThuVien]
GO
/****** Object:  StoredProcedure [dbo].[procSachDuocMuonNhieu]    Script Date: 21/1/2021 12:46:39 AM ******/
DROP PROCEDURE [dbo].[procSachDuocMuonNhieu]
GO
ALTER TABLE [dbo].[THEDOCGIA] DROP CONSTRAINT [FK__THEDOCGIA__MANV__3D5E1FD2]
GO
ALTER TABLE [dbo].[THEDOCGIA] DROP CONSTRAINT [FK__THEDOCGIA__MADOC__3C69FB99]
GO
ALTER TABLE [dbo].[PHIEUMUONTRA] DROP CONSTRAINT [FK__PHIEUMUONTRA__3B75D760]
GO
ALTER TABLE [dbo].[PHIEUMUONTRA] DROP CONSTRAINT [FK__PHIEUMUONT__MANV__3A81B327]
GO
ALTER TABLE [dbo].[DAUSACH] DROP CONSTRAINT [FK__DAUSACH__MATHELO__398D8EEE]
GO
ALTER TABLE [dbo].[DAUSACH] DROP CONSTRAINT [FK__DAUSACH__MATACGI__38996AB5]
GO
ALTER TABLE [dbo].[DAUSACH] DROP CONSTRAINT [FK__DAUSACH__MANXB__37A5467C]
GO
ALTER TABLE [dbo].[CTPM] DROP CONSTRAINT [FK__CTPM__MASACH__36B12243]
GO
ALTER TABLE [dbo].[CTPM] DROP CONSTRAINT [FK__CTPM__MAPHIEUMUO__35BCFE0A]
GO
/****** Object:  Table [dbo].[THELOAI]    Script Date: 21/1/2021 12:46:39 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[THELOAI]') AND type in (N'U'))
DROP TABLE [dbo].[THELOAI]
GO
/****** Object:  Table [dbo].[THEDOCGIA]    Script Date: 21/1/2021 12:46:39 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[THEDOCGIA]') AND type in (N'U'))
DROP TABLE [dbo].[THEDOCGIA]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 21/1/2021 12:46:39 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TAIKHOAN]') AND type in (N'U'))
DROP TABLE [dbo].[TAIKHOAN]
GO
/****** Object:  Table [dbo].[TACGIA]    Script Date: 21/1/2021 12:46:39 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TACGIA]') AND type in (N'U'))
DROP TABLE [dbo].[TACGIA]
GO
/****** Object:  Table [dbo].[PHIEUMUONTRA]    Script Date: 21/1/2021 12:46:39 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PHIEUMUONTRA]') AND type in (N'U'))
DROP TABLE [dbo].[PHIEUMUONTRA]
GO
/****** Object:  Table [dbo].[NHAXUATBAN]    Script Date: 21/1/2021 12:46:39 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[NHAXUATBAN]') AND type in (N'U'))
DROP TABLE [dbo].[NHAXUATBAN]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 21/1/2021 12:46:39 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[NHANVIEN]') AND type in (N'U'))
DROP TABLE [dbo].[NHANVIEN]
GO
/****** Object:  Table [dbo].[DOCGIA]    Script Date: 21/1/2021 12:46:39 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DOCGIA]') AND type in (N'U'))
DROP TABLE [dbo].[DOCGIA]
GO
/****** Object:  Table [dbo].[DAUSACH]    Script Date: 21/1/2021 12:46:39 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DAUSACH]') AND type in (N'U'))
DROP TABLE [dbo].[DAUSACH]
GO
/****** Object:  Table [dbo].[CTPM]    Script Date: 21/1/2021 12:46:39 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CTPM]') AND type in (N'U'))
DROP TABLE [dbo].[CTPM]
GO
USE [master]
GO
/****** Object:  Database [QuanLyThuVien]    Script Date: 21/1/2021 12:46:39 AM ******/
DROP DATABASE [QuanLyThuVien]
GO
/****** Object:  Database [QuanLyThuVien]    Script Date: 21/1/2021 12:46:39 AM ******/
CREATE DATABASE [QuanLyThuVien]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyThuVien', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QuanLyThuVien.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyThuVien_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QuanLyThuVien_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyThuVien].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyThuVien]
GO
/****** Object:  Table [dbo].[CTPM]    Script Date: 21/1/2021 12:46:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPM](
	[MASACH] [varchar](10) NOT NULL,
	[MAPHIEUMUON] [varchar](10) NOT NULL,
	[SOLUONG] [char](5) NULL,
	[TINHTRANG] [nvarchar](10) NULL,
	[HANTRA] [datetime] NULL,
	[NGAYTRA] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MASACH] ASC,
	[MAPHIEUMUON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DAUSACH]    Script Date: 21/1/2021 12:46:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DAUSACH](
	[MASACH] [varchar](10) NOT NULL,
	[TENSACH] [nvarchar](30) NULL,
	[NAMXUATBAN] [char](5) NULL,
	[MATHELOAI] [varchar](10) NOT NULL,
	[MANXB] [varchar](10) NOT NULL,
	[MATACGIA] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MASACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOCGIA]    Script Date: 21/1/2021 12:46:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCGIA](
	[MADOCGIA] [varchar](10) NOT NULL,
	[TENDOCGIA] [nvarchar](30) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[SDTDOCGIA] [char](10) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[NGAYSINH] [datetime] NULL,
	[GIOITINH] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MADOCGIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 21/1/2021 12:46:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [varchar](10) NOT NULL,
	[HOTENNV] [nvarchar](30) NULL,
	[GIOITINHNV] [nvarchar](30) NULL,
	[NGAYSINHNV] [datetime] NULL,
	[DIACHINV] [nvarchar](100) NULL,
	[DIENTHOAINV] [char](10) NULL,
	[EMAILNV] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAXUATBAN]    Script Date: 21/1/2021 12:46:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAXUATBAN](
	[MANXB] [varchar](10) NOT NULL,
	[TENNXB] [nvarchar](30) NULL,
	[DIACHINXB] [nvarchar](100) NULL,
	[DIENTHOAIXB] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANXB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUMUONTRA]    Script Date: 21/1/2021 12:46:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUMUONTRA](
	[MAPHIEUMUON] [varchar](10) NOT NULL,
	[NGAYLAP] [datetime] NULL,
	[MANV] [varchar](10) NOT NULL,
	[MATHE] [varchar](10) NOT NULL,
	[MADOCGIA] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHIEUMUON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TACGIA]    Script Date: 21/1/2021 12:46:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TACGIA](
	[MATACGIA] [varchar](10) NOT NULL,
	[TENTACGIA] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MATACGIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 21/1/2021 12:46:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[TENTAIKHOAN] [varchar](20) NOT NULL,
	[MATKHAU] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[TENTAIKHOAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THEDOCGIA]    Script Date: 21/1/2021 12:46:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THEDOCGIA](
	[MANV] [varchar](10) NOT NULL,
	[MATHE] [varchar](10) NOT NULL,
	[NGAYLAP] [datetime] NULL,
	[NGAYHETHAN] [datetime] NULL,
	[MADOCGIA] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MATHE] ASC,
	[MADOCGIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THELOAI]    Script Date: 21/1/2021 12:46:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THELOAI](
	[MATHELOAI] [varchar](10) NOT NULL,
	[TENTHELOAI] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MATHELOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DOCGIA] ([MADOCGIA], [TENDOCGIA], [DIACHI], [SDTDOCGIA], [EMAIL], [NGAYSINH], [GIOITINH]) VALUES (N'DG001', N'Thái Phước Thực', N'46 Phố Quốc, Phường Lý, Huyện Sinh Huỳnh Cần Thơ', N'0982321523', N'emthahuc@gmail.com', CAST(N'2021-01-18T00:00:00.000' AS DateTime), N'Nữ')
INSERT [dbo].[DOCGIA] ([MADOCGIA], [TENDOCGIA], [DIACHI], [SDTDOCGIA], [EMAIL], [NGAYSINH], [GIOITINH]) VALUES (N'DG002', N'Chử Vươn', N'1 Phố Đặng, Phường 8, Quận 13 Hà Nam', N'0892647839', N'chuvuoong@gmail.com', CAST(N'2021-01-18T00:00:00.000' AS DateTime), N'Nam')
INSERT [dbo].[DOCGIA] ([MADOCGIA], [TENDOCGIA], [DIACHI], [SDTDOCGIA], [EMAIL], [NGAYSINH], [GIOITINH]) VALUES (N'DG003', N'Lam Chiến', N'103 Phố Cự, Ấp Xa Thùy, Huyện Sinh Lâm Quảng Trị', N'0927839423', N'cutuoi@gmail.com', CAST(N'2021-01-18T00:00:00.000' AS DateTime), N'Nam')
GO
INSERT [dbo].[NHANVIEN] ([MANV], [HOTENNV], [GIOITINHNV], [NGAYSINHNV], [DIACHINV], [DIENTHOAINV], [EMAILNV]) VALUES (N'NV001', N'Văn Vọng', N'Nữ', CAST(N'1999-01-09T00:00:00.000' AS DateTime), N'818 Phố Chế Yên Sinh, Ấp Hoa Hân, Quận Lan Phùng Hải Phòng', N'0273921732', N'vanvoong@gmail.com')
INSERT [dbo].[NHANVIEN] ([MANV], [HOTENNV], [GIOITINHNV], [NGAYSINHNV], [DIACHINV], [DIENTHOAINV], [EMAILNV]) VALUES (N'NV002', N'Tào Tùng', N'Nam', CAST(N'2000-01-09T00:00:00.000' AS DateTime), N'5 Phố Bạc Thục Phi, Thôn Điền Kim, Quận Pháp Nhượng Khánh Hòa', N'0927613821', N'chutung@gmail.com')
INSERT [dbo].[NHANVIEN] ([MANV], [HOTENNV], [GIOITINHNV], [NGAYSINHNV], [DIACHINV], [DIENTHOAINV], [EMAILNV]) VALUES (N'NV003', N'Khúc Chính Tài', N'Nam', CAST(N'1993-01-01T00:00:00.000' AS DateTime), N'2 Phố Uông Tuệ Thiên, Xã 26, Huyện Cao Bảo Thuần Cần Thơ', N'0711321322', N'emkhai@gmail.com')
GO
INSERT [dbo].[NHAXUATBAN] ([MANXB], [TENNXB], [DIACHINXB], [DIENTHOAIXB]) VALUES (N'NXB001', N'1', N'1', N'0923679173')
INSERT [dbo].[NHAXUATBAN] ([MANXB], [TENNXB], [DIACHINXB], [DIENTHOAIXB]) VALUES (N'NXB002', N'2', N'2', N'0876389217')
GO
INSERT [dbo].[PHIEUMUONTRA] ([MAPHIEUMUON], [NGAYLAP], [MANV], [MATHE], [MADOCGIA]) VALUES (N'PMT001', CAST(N'2021-01-21T00:37:20.757' AS DateTime), N'NV001', N'TDG001', N'DG001')
INSERT [dbo].[PHIEUMUONTRA] ([MAPHIEUMUON], [NGAYLAP], [MANV], [MATHE], [MADOCGIA]) VALUES (N'PMT002', CAST(N'2021-01-21T00:38:11.013' AS DateTime), N'NV003', N'TDG003', N'DG003')
GO
INSERT [dbo].[TACGIA] ([MATACGIA], [TENTACGIA]) VALUES (N'TG001', N'Xuân Diệu')
INSERT [dbo].[TACGIA] ([MATACGIA], [TENTACGIA]) VALUES (N'TG002', N'Huy Cận')
GO
INSERT [dbo].[TAIKHOAN] ([TENTAIKHOAN], [MATKHAU]) VALUES (N'123', N'123')
INSERT [dbo].[TAIKHOAN] ([TENTAIKHOAN], [MATKHAU]) VALUES (N'THINH', N'THINH')
INSERT [dbo].[TAIKHOAN] ([TENTAIKHOAN], [MATKHAU]) VALUES (N'vu', N'vu')
GO
INSERT [dbo].[THEDOCGIA] ([MANV], [MATHE], [NGAYLAP], [NGAYHETHAN], [MADOCGIA]) VALUES (N'NV001', N'TDG001', CAST(N'2021-01-20T23:41:31.497' AS DateTime), CAST(N'2021-01-20T23:41:31.507' AS DateTime), N'DG001')
INSERT [dbo].[THEDOCGIA] ([MANV], [MATHE], [NGAYLAP], [NGAYHETHAN], [MADOCGIA]) VALUES (N'NV001', N'TDG002', CAST(N'2021-01-20T23:45:17.633' AS DateTime), CAST(N'2021-01-20T23:45:17.643' AS DateTime), N'DG002')
INSERT [dbo].[THEDOCGIA] ([MANV], [MATHE], [NGAYLAP], [NGAYHETHAN], [MADOCGIA]) VALUES (N'NV001', N'TDG003', CAST(N'2021-01-20T23:49:03.470' AS DateTime), CAST(N'2021-01-20T23:49:03.480' AS DateTime), N'DG003')
GO
INSERT [dbo].[THELOAI] ([MATHELOAI], [TENTHELOAI]) VALUES (N'TL001', N'Giáo Khoa')
INSERT [dbo].[THELOAI] ([MATHELOAI], [TENTHELOAI]) VALUES (N'TL002', N'Tài Chính')
INSERT [dbo].[THELOAI] ([MATHELOAI], [TENTHELOAI]) VALUES (N'TL003', N'Truyện')
GO
ALTER TABLE [dbo].[CTPM]  WITH CHECK ADD FOREIGN KEY([MAPHIEUMUON])
REFERENCES [dbo].[PHIEUMUONTRA] ([MAPHIEUMUON])
GO
ALTER TABLE [dbo].[CTPM]  WITH CHECK ADD FOREIGN KEY([MASACH])
REFERENCES [dbo].[DAUSACH] ([MASACH])
GO
ALTER TABLE [dbo].[DAUSACH]  WITH CHECK ADD FOREIGN KEY([MANXB])
REFERENCES [dbo].[NHAXUATBAN] ([MANXB])
GO
ALTER TABLE [dbo].[DAUSACH]  WITH CHECK ADD FOREIGN KEY([MATACGIA])
REFERENCES [dbo].[TACGIA] ([MATACGIA])
GO
ALTER TABLE [dbo].[DAUSACH]  WITH CHECK ADD FOREIGN KEY([MATHELOAI])
REFERENCES [dbo].[THELOAI] ([MATHELOAI])
GO
ALTER TABLE [dbo].[PHIEUMUONTRA]  WITH CHECK ADD FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUMUONTRA]  WITH CHECK ADD FOREIGN KEY([MATHE], [MADOCGIA])
REFERENCES [dbo].[THEDOCGIA] ([MATHE], [MADOCGIA])
GO
ALTER TABLE [dbo].[THEDOCGIA]  WITH CHECK ADD FOREIGN KEY([MADOCGIA])
REFERENCES [dbo].[DOCGIA] ([MADOCGIA])
GO
ALTER TABLE [dbo].[THEDOCGIA]  WITH CHECK ADD FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
/****** Object:  StoredProcedure [dbo].[procSachDuocMuonNhieu]    Script Date: 21/1/2021 12:46:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[procSachDuocMuonNhieu]
@NgayBatDau VARCHAR(50),
@NgayKetThuc VARCHAR(50)
as
begin
select  
	c.*, a.maxMaSachCnt
from (
	select
		distinct a.MASACH,
		max(a.maSachCnt) over() maxMaSachCnt
	from (
		select
 		masach, count(1) as maSachCnt
		from CTPM
		group by masach
	) as a, CTPM as b
	where a.MASACH = b.MASACH
	-- and LEFT(CONVERT(date, b.NGAYTRA), 7) = '2021-04' -- YYYY-MM
	and LEFT(CONVERT(date, b.NGAYTRA), 7) BETWEEN @NgayBatDau AND @NgayKetThuc -- YYYY-MM
) as a, (select
 		masach, count(1) as maSachCnt
		from CTPM
		group by masach) as b, DAUSACH as c
where a.MASACH =b.MASACH and a.maxMaSachCnt = b.maSachCnt and c.MASACH = b.MASACH
end
GO
USE [master]
GO
